<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<style>
    .modal-header {
    background-color: #bd7434;
  }

  .modal-title {
    color: #ffffff;
  }

  .modal-body {
    background-color: blanchedalmond;
  }

  .modal-footer {
    background-color: #bd7434;
  }

  .card-body {
    background-color: rgb(255, 248, 224);
  }
</style>
<main>
    <div class="container mx-auto row">
        <div><%- include ('../partials/message') %></div>
        <br>
        <div class="col" style="width:fit-content">
            <div id="event-cards">
                <% if (books) {  %>
                    <% books.forEach(function (result, index) { %>
                        <!-- Modal -->
                        <div class="modal fade" id="bookDetails<%= index %>" tabindex="-1" aria-labelledby="bookDetailsLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modalTitle"><%= result?.name || 'N/A' %></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="modalBody">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid mx-auto d-block" src="<%= result?.img_url || 'path/to/placeholder-image.jpg' %>">
                                            </div>
                                            <div class="col-8">
                                                <form action="/addReview" method="POST" id="combinedReviewForm<%= index %>">
                                                    <div class="mb-3">
                                                        <label for="reviewText" class="form-label">Add your review:</label>
                                                        <br>
                                                        <textarea id="reviewText" name="reviewText" class="form-control w-100" placeholder="Write your review here"></textarea>
                                                    </div>
                                                    <input type="hidden" name="bookId" value="<%= result?.isbn %>">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" form="combinedReviewForm<%= index %>">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Content -->
                        <div class="card" style="display: inline-block; width: 200px; margin: 10px;">
                            <img src=<%-result.img_url %> class="card-img-top" alt="Cover not found" height="250px">
                            <div class="column"> 
                                <div class="card-body">
                                    <p class="card-title"><%-result.name %></p>
                                    <p class="card-text"><%- result.author%></p>
                                    <button type="button" class="btn btn-primary" 
                                        data-bs-toggle="modal" data-bs-target="#bookDetails<%= index %>"
                                        data-index="<%= index %>">
                                        Add Review
                                    </button>
                                </div>
                            </div>
                        </div>

                    <%})%>
                <%} %>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
