<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
    <title>Collections</title>
  <div class="container mx-auto row">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->

        <div class="col" style="width:fit-content">
            <div id="event-cards">
                <%if (books) {  %>
                    <% search_results.data._embedded.events.forEach(result=>{%>
                        <div class="card" style="width: 18rem;">
                            <img src=<%-result.images[0].url %> class="card-img-top" alt="...">
                            <div class="column"> 
                            <div class="card-body">
                              <h5 class="card-title"><%-result.name %></h5>
                              <p class="card-date"><%-result.dates.start.localDate %></p>
                              <p class="card-time"><%-result.dates.start.localTime %></p>
                              <a href="<%-result.url %>" class="btn btn-primary">Book now</a>
                            </div>
                          </div>
                        </div>

                    <%})%>
                <%} %>

      </div>
  </div>
</td>


        
  </div>
</main>

<%- include ('../partials/footer') %>