<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<style>
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
  }

  .centered-text {
    text-align: center;
    font-size: 1.5em;
  }

  .modal-header {
    background-color: #bd7434;
  }

  .modal-title {
    color: #ffffff;
  }

  .modal-body {
    background-color: blanchedalmond;
  }

  .modal-footer {
    background-color: #bd7434;
  }
</style>
<main>
  <div class="container">
    <div><%- include ('../partials/message') %></div>
    <br><br>
    <h1>Explore</h1>
    <div id="search_bar" class="mt-3">
      <form action="/explore" method="POST">
        <div class="input-group mb-3">
          <label for="title" class="visually-hidden">Title:</label>
          <input type="text" id="title" name="title" class="form-control" placeholder="Search Books by Title" aria-label="Search Books by Title" aria-describedby="search-btn" />
          <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
        </div>
      </form>
    </div>    
    <div id="book_table">
      <% if (books && books.length === 0) { %> 
        <div class="container center-content text-muted">
          <p class="centered-text">To load books, search books by title in the Searchbar</p>
        </div>
      <% } else if (books) { %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">ISBN</th>
              <th scope="col">Date Published</th>
              <th scope="col">Cover</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% books.forEach(function (item, index) { %>
              <!-- Modal, we may want to make this a partial, but it might not be possible right now... -->
              <div class="modal fade" id="bookDetails<%= index %>" tabindex="-1" aria-labelledby="bookDetailsLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalTitle"><%= item?.volumeInfo?.title || 'N/A' %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                      <div class="row">
                        <div class="col-sm">
                          <img src="<%= item.volumeInfo?.imageLinks?.smallThumbnail || 'path/to/placeholder-image.jpg' %>">
                        </div>
                        <div class="col-sm">
                          <p><strong>ISBN: </strong> <%= item?.volumeInfo?.industryIdentifiers?.[0]?.identifier || 'N/A' %></p>
                          <p><strong>Page Count: </strong> <%= item?.volumeInfo?.pageCount || 'N/A' %></p>
                          <p><strong>Author: </strong> <%= item?.volumeInfo?.authors?.[0] || 'N/A' %></p>
                          <p><strong>Date Published: </strong> <%= item?.volumeInfo?.publishedDate || 'N/A' %></p>
                        </div>
                      </div>
                      <div class="row">
                        <p></p><hr> <!-- Sloppy spacing, fix if necessary -->
                        <p><strong>Description: </strong> <%= item?.volumeInfo?.description || 'N/A' %></p>
                      </div>
                      <!-- Review Section -->
<div class="row">
  <p style="font-weight: bold; font-size: 18px;">Reviews: </p><br>
  <div class="row" style="margin-bottom: 10px; margin-left: 10px;">
    <div class="col-4">
      <p style="font-weight: bold;">Username:</p>
    </div>
    <div class="col-8">
      <p style="font-weight: bold;">Review:</p>
    </div>
  </div>
  <% if (item && item.reviews) {
      item.reviews.forEach(function(review) { %>
        <div class="row" style="margin-bottom: 10px; margin-left: 10px;">
          <div class="col-4">
            <hr>
            <a href="/profile/<%= review.user_id %>" style="color:#d88339"><%= review.username %></a>
          </div>
          <div class="col-8">
            <hr>
            <p style="word-wrap: break-word;"><%= review.reviewText %>
              <div style="color: grey; font-size: 10px; word-break: break-word;"> 
                <%= review.reviewDate %> 
              </div>
            </p>
          </div>
        </div>
  <% }); } else { %>
      <p>No reviews available</p>
  <% } %>
</div>
     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action = "/addBook" method = "POST"> 
                        <input type="hidden" name="ISBN" value="<%= item?.volumeInfo?.industryIdentifiers?.[0]?.identifier || 'N/A' %>"> 
                        <input type="hidden" name="page_count" value="<%= item?.volumeInfo?.pageCount || 'N/A' %>">
                        <input type="hidden" name="Author" value=" <%= item?.volumeInfo?.authors?.[0] || 'N/A' %>">
                        <input type="hidden" name="date" value="<%= item?.volumeInfo?.publishedDate || 'N/A' %>">
                        <input type="hidden" name="description" value=" <%= item?.volumeInfo?.description || 'N/A' %>">
                        <input type="hidden" name="title" value="<%= item?.volumeInfo?.title || 'N/A' %>">
                        <input type="hidden" name="img_url" value="<%= item.volumeInfo?.imageLinks?.smallThumbnail || 'path/to/placeholder-image.jpg' %>">
                        <button type="submit" class="btn btn-primary">Add Book</button> </form> 
                    </div>
                  </div>
                </div>
              </div>
              <tr>
                <td><%= item?.volumeInfo?.title || 'N/A' %></td>
                <td><%= item?.volumeInfo?.authors?.[0] || 'N/A' %></td>
                <td><%= item?.volumeInfo?.industryIdentifiers?.[0]?.identifier || 'N/A' %></td>
                <td><%= item?.volumeInfo?.publishedDate || 'N/A' %></td>
                <td><img src="<%= item?.volumeInfo?.imageLinks?.smallThumbnail || 'path/to/placeholder-image.jpg' %>"></td>
                <td>
                  <button type="button" class="btn btn-primary" 
                    data-bs-toggle="modal" data-bs-target="#bookDetails<%= index %>"
                    data-index="<%= index %>">
                    See Details
                  </button>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <div class="container center-content text-muted">
          <p class="centered-text">No Results. Make another Search.</p>  
        </div>   
      <% } %>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
