<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <br>
        <h1><%=user_input.username%>'s Profile:</h1>
                <table class="table table-striped table-bordered">
                    <thead>
                      <tr class="table-dark" style="opacity:85%">
                        <th scope="col">Books Read</th>
                        <th scope="col">Reviews Left</th>
                        <th scope="col">Favorite Genre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-warning" style="opacity:70%">
                        <td><strong><%=user_input.books_read || 0%></strong></td>
                        <td><strong><%=user_input.reviews_left || 0%></strong></td>
                        <td><strong><%=user_input.favorite_genre || "Undecided"%></strong></td>
                      </tr>
                    </tbody>
                  </table>
    </div>
</main>

<%- include ('../partials/footer') %>
